<h2>Lista Utenti</h2>
<!-- Signal GET -->
@if (userService.usersResource.isLoading()) {
  <p>Caricamento...</p>
}
@if (userService.usersResource.error()) {
  <p style="color:red">Errore nel caricamento degli utenti.</p>
}

<ul>
  @for (user of (userService.usersResource.value() ?? []); track user.id) {
    <li>{{user.id}} {{ user.name }} ({{ user.email }})</li>
  } @empty {
    <li>Nessun utente trovato.</li>
  }
</ul>

<!-- Observable GET -->
<ul>
  @for (user of users(); track user.id) {
    <li>{{user.id}} {{ user.name }} ({{ user.email }})</li>
  }
  @empty
  {
    <li>Nessun utente trovato.</li>
  }
</ul>

<h3>Aggiungi Utente</h3>
<form (ngSubmit)="addUser()">
  <input [(ngModel)]="newUser.name" name="name" placeholder="Nome" required />
  <input [(ngModel)]="newUser.email" name="email" placeholder="Email" required />
  <button type="submit">Aggiungi</button>
</form>

<h3>Rimuovi Utente</h3>
<p>{{userIdToRemove}}</p>
<form (ngSubmit)="removeUser(userIdToRemove)">
  <input [(ngModel)]="userIdToRemove" name="id" placeholder="id to remove" type="number" required />
  <button type="submit">rimuovi</button>
</form>
